* {
	margin: 0px;
	padding: 0px;
	transition: all 250ms ease-in-out;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	border: none;

}



h1 {
	font-size: 60px;
	font-weight: 100;
	line-height: 80px;
}

h2 {
	font-size: 48px;
	margin-bottom: 30px;
}

.img_line {
	

}



p {
	font-size: 18px;
	color: #999999;
	line-height: 1.8;
	margin-bottom: 0;	
}

ul{
	list-style: none;
}

section {
	padding: 120px 0;
}


/* Navbar */





.btn {
	font-size: 14px;
	padding: 15px 20px;
	min-width: 160px;
	border-radius: 2px;
	display: inline-block;
}

.btn-light {
	background-color: #ffffff;
	color: #1a1a1a;
	border: 2px solid #ffffff;
}

.btn i { font-size: 14px; margin-left: 5px; }

.topmargin-xs { margin-top: 15px; }
.topmargin-sm { margin-top: 30px; }
.topmargin-lg { margin-top: 60px; }

.navbar {  /* Navbar etiqueta raiz */
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, ,05);
}

.nav-link { color: #1a1a1a; }
.nav-link:hover { color: #1a1a1a; }
.navbar-toggler { font-size: 20px; }
.navbar-toggler:focus { outline: none; }
	/* Codigo cerrado */


/* Titulo INICIO */
.inicio{
	background-image: url('../image/background1.jpg');
	background-size: cover;
	padding-top: 90px;
	min-height: 700px;
	color: #ffffff;
	border-bottom: 3px black solid;
}

.inicio p {
	color: #ffffff;
}
	/* Codigo cerrado */
	
	
	
/* Footer */
.footer{
	background-color: #24262b;
	padding: 70px 0;	
}

.footer-container {
	max-width: 1170px;
	margin: auto;	
}

.footer-row{
	display: flex;
	flex-wrap: wrap;
}

.footer-col{
	width: 25%;
	padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration:  none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;	
}
	
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin: 0 10px 10px 0; 
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}	
	
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}	
	/* Codigo cerrado */




/* Responsive */
@media (max-width: 800px) and (min-width: 576px) { 	
	
	
}

@media (max-width: 575.98px) { 
	h1 { font-size: 40px; line-height: normal; }
	

 }
 
@media (max-width: 767px) { 
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
	
	
}

@media (max-width: 574px) { 
	.footer-col {
		width: 100%;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) { ... }

@media (min-width: 768px) and (max-width: 991.98px) { ... }

@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... }